.task-row.task-success { 
    background-color: #acf3e4;
}
.task-row.task-open { 
    background-color: #ffffff;
}
.task-row.task-waiting { 
    background-color: #e5e5e5;
}

thead tr th:first-child{
    border-radius: 7px 0px 0px 0px;
}
thead tr th:last-child{
    border-radius: 0px 7px 0px 0px;
}

tbody tr:last-child{
    border-radius: 0px 0px 7px 7px;
}
tbody tr:last-child td:first-child{
    border-radius: 0px 0px 0px 7px;
}
tbody tr:last-child td:last-child{
    border-radius: 0px 0px 7px 0px;
}

.clickable {
    cursor: pointer;
}

.name-column-container {
    width: 100%;
    min-height: 2rem;
}

.helptext-container {
    display: flex;
    align-items: center;
    transform: translateY(-1.5px);
}

.custom-helptext {
    display: flex;
    line-height: 0;
}

.custom-helptext :host {
    display: flex;
}

.assigned-to-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.custom-owner-icon {
    display: flex;
    line-height: 0;
    transform: translateY(-2px); 
}

.custom-owner-icon :host {
    display: flex;
    align-items: center;
    height: auto;
}