.checkboxWrap {
  display: inline-flex;
  align-items: center;
  gap: .5rem;
}

.checkboxOnly {
  display: inline-flex;
  cursor: pointer;
}

.checkboxText {
  cursor: default; /* הטקסט לא “לחיץ” */
}
